{% extends "admin/base_site.html" %}
{% block title %}Proyecto Final{% endblock %}

{% block branding %}
<div id="site-name"><a href="{% url 'admin:index' %}">Transporte HAIR</a></div>
{% if user.is_anonymous %}
  {% include "admin/color_theme_toggle.html" %}
{% endif %}
{% endblock %}

{% block nav-global %}{% endblock %}
{%block content%}
    <div class="w-screen">
        <div class="w-11/12 flex">

            <div class="w-3/12">
                <label id="listbox-label" class="block text-sm font-medium leading-6 text-gray-900">Soluciones</label>
                <div class="relative mt-2">
                  <ul class="z-10  overflow-auto rounded-md bg-white py-1 text-base shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none sm:text-sm" id="miTabla" tabindex="-1" role="listbox" aria-labelledby="listbox-label" aria-activedescendant="listbox-option-3">
                    {% for solucion in soluciones %}
                    <li class="text-gray-900 relative cursor-default select-none py-2 pl-3 pr-9 hover:bg-sky-200 fila-clickeable" data-id="{{solucion.Id}}" data-content="{{solucion}}" id="listbox-option-0" role="option">
                      <div class="flex ">
                        <b class="p-3">#{{solucion.Id}}</b>
                        <span>
                            <p class="mt-1 text-gray-600">Costo: {{solucion.Costo}}</p>
                            <small class="font-semibold text-gray-900">
                                {{solucion.Tag}} - Iteración {{solucion.iteracion}}
                            </small>
                        </span>
                      </div>
                    </li>
                    {% endfor %}
                  </ul>
                </div>
            </div>

              
            <div class="w-9/12 mx-10">
                <label id="listbox-label" class="block text-sm font-medium leading-6 text-gray-900">Vista Previa</label>
                <div id="graph_desc">
                </div>
                <div id="graph_imagenes" class="flex flex-wrap">
                </div>
                <form method="post" action="{% url 'guardar_ruta' %}" class="w-full grid bg-red-200 justify-items-center">
                    {% csrf_token %}    
                    <input name="politica_reabastecimiento" id="politica_reabastecimiento" value="{{politica_reabastecimiento}}"/>
                    <input name="horizon_length" id="horizon_length" value="{{horizon_length}}"/>
                    <input name="patente_vehiculo" id="patente_vehiculo" value="{{patente_vehiculo}}"/>
                    <input name="selected_solution" id="selected_solution" value="{{solucion}}"/>
                    <button class="bg-sky-900 rounded-xl text-white px-4 py-2"type="submit">Guardar Solución</button>
                </form>
            </div>
           
    </div>

    <script>
        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }


        // Obtener la tabla y sus filas
        var tabla = document.getElementById("miTabla");
        var filas = tabla.getElementsByTagName("li");
        // Agregar un evento de clic a cada fila
        for (var i = 0; i < filas.length; i++) {
            filas[i].addEventListener("click", function() {
                // Acción que se ejecutará al hacer clic en una fila
                var dataContent = this.getAttribute("data-content");
                const csrftoken = getCookie('csrftoken');
                $('#selected_solution').val(dataContent);
                $.ajax({
                    url:  "{% url 'versolucion' %}",
                    type: "POST",
                    data: {solucion: dataContent}, 
                    headers: {'X-CSRFToken': csrftoken},
                    mode: 'same-origin',
                    success: function(response) {
                        $('#graph_desc').html(response.descripcion);
                        $('#graph_imagenes').html(response.imagenes); 
                    },
                    error: function(error) {
                        console.log(error);
                        alert("Error al llamar a la vista Django.");
                    }
                });
            });
        }
    </script>
{%endblock%}