{% extends "admin/base.html" %}
{% block title %}Proyecto Final{% endblock %}

{% block branding %}
<div id="site-name"><a href="{% url 'admin:index' %}">Transporte HAIR</a></div>
{% if user.is_anonymous %}
  {% include "admin/color_theme_toggle.html" %}
{% endif %}
{% endblock %}

{% block nav-global %}{% endblock %}

{%block content%}
<h1>Mi Página con Gráfico</h1>
{% for imagen_base64 in imagenes_base64 %}
  <img width="33%" src="data:image/png;base64,{{ imagen_base64 }}" alt="T">
{%endfor%}
{%endblock%}